<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Tests" >

    <listeners>
        <listener class-name="testng.AnnotationTransformer"/>
    </listeners>

    <test name="Flanco cautare produs">
        <parameter name="browser" value="chrome"/>
        <classes>
<!--          <class name="tests.login.LoginCredentials"/>-->
<!--            <class name="tests.addToCart.AddToCart"/>-->
<!--            <class name="tests.products.ProductsTest"/>-->
<!--                <class name="tests.searchShop.ShopSearchSM"/>-->
            <class name="tests.filteredSearch.FilteredSearchPhones"/>
        </classes>
    </test>

</suite>