<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Tests" >

    <listeners>
        <listener class-name="testng.AnnotationTransformer"/>
    </listeners>

    <test name="Chrome1">
        <parameter name="browser" value="chrome"/>
        <classes>
<!--            <class name="tests.products.ProductsTest"/>-->
            <class name="tests.orders.OrderTest"/>
        </classes>
    </test>

</suite>